<link rel="stylesheet" href="/stylesheets/index.css">
{{> sidebar}}
<div id="main-container"></div>
<div class="loading" id="loading">Loading&#8230;</div>
<script src="/javascripts/three.js"></script>
<script src="/javascripts/OBJLoader.js"></script>
<script src="/javascripts/MTLLoader.js"></script>
<script src="/javascripts/OrbitControls.js"></script>
<script src="/javascripts/index.js"></script>